# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

UserInterfaceState.xcuserstate
.bundle
db/*.sqlite3
log/*.log
tmp/
.DS_Store
