<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getGameField</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>created</string>
			<string>description</string>
			<string>game_type</string>
			<string>levels</string>
			<string>name</string>
			<string>platform</string>
			<string>play_url</string>
			<string>players_count</string>
			<string>scores_count</string>
			<string>short_description</string>
			<string>status</string>
			<string>updated</string>
			<string>user_id</string>
			<string>version</string>
			<string>website_url</string>
			<string>error</string>
		</array>
	</dict>
	<key>getGameAverage</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>bonus</string>
			<string>gold</string>
			<string>money</string>
			<string>kills</string>
			<string>lives</string>
			<string>time_played</string>
			<string>unlocked_levels</string>
			<string>error</string>
		</array>
	</dict>
	<key>getGameTop</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>bonus</string>
			<string>gold</string>
			<string>money</string>
			<string>kills</string>
			<string>lives</string>
			<string>time_played</string>
			<string>unlocked_levels</string>
			<string>error</string>
		</array>
	</dict>
	<key>getGameLowest</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>bonus</string>
			<string>gold</string>
			<string>money</string>
			<string>kills</string>
			<string>lives</string>
			<string>time_played</string>
			<string>unlocked_levels</string>
			<string>error</string>
		</array>
	</dict>
	<key>getGameTotal</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>bonus</string>
			<string>gold</string>
			<string>money</string>
			<string>kills</string>
			<string>lives</string>
			<string>time_played</string>
			<string>unlocked_levels</string>
			<string>error</string>
		</array>
	</dict>
	<key>getNotification</key>
	<dict>
		<key>oneItem</key>
		<false/>
		<key>game_notification</key>
		<dict>
			<key>GameNotification</key>
			<array>
				<string>content</string>
				<string>debug</string>
				<string>end_date</string>
				<string>start_date</string>
				<string>status</string>
				<string>title</string>
			</array>
		</dict>
	</dict>
	<key>getGame</key>
	<dict>
		<key>oneItem</key>
		<false/>
		<key>Game</key>
		<array>
			<string>created</string>
			<string>description</string>
			<string>game_type</string>
			<string>levels</string>
			<string>name</string>
			<string>platform</string>
			<string>play_url</string>
			<string>players_count</string>
			<string>scores_count</string>
			<string>short_description</string>
			<string>status</string>
			<string>updated</string>
			<string>user_id</string>
			<string>version</string>
			<string>website_url</string>
		</array>
	</dict>
	<key>getScores</key>
	<dict>
		<key>oneItem</key>
		<false/>
		<key>Player</key>
		<array>
			<string>email</string>
			<string>first_name</string>
			<string>last_name</string>
			<string>platform</string>
			<string>username</string>
		</array>
		<key>Score</key>
		<array>
			<string>created</string>
			<string>difficulty</string>
			<string>leaderboard</string>
			<string>platform</string>
			<string>score</string>
		</array>
	</dict>
	<key>getPlayerScores</key>
	<dict>
		<key>oneItem</key>
		<false/>
		<key>Score</key>
		<array>
			<string>created</string>
			<string>difficulty</string>
			<string>leaderboard</string>
			<string>platform</string>
			<string>score</string>
			<string>game_id</string>
			<string>id</string>
			<string>player_id</string>
		</array>
	</dict>
	<key>getPlayer</key>
	<dict>
		<key>oneItem</key>
		<false/>
		<key>Player</key>
		<array>
			<string>username</string>
			<string>password</string>
			<string>unique_id</string>
			<string>first_name</string>
			<string>last_name</string>
			<string>email</string>
			<string>created</string>
			<string>updated</string>
			<string>bonus</string>
			<string>achievements</string>
			<string>best_score</string>
			<string>gold</string>
			<string>money</string>
			<string>kills</string>
			<string>lives</string>
			<string>time_played</string>
			<string>unlocked_levels</string>
			<string>unlocked_items</string>
			<string>inventory</string>
			<string>last_level</string>
			<string>current_level</string>
			<string>current_time</string>
			<string>current_bonus</string>
			<string>current_kills</string>
			<string>current_achievements</string>
			<string>current_gold</string>
			<string>current_unlocked_levels</string>
			<string>current_unlocked_items</string>
			<string>current_lifes</string>
			<string>xp</string>
			<string>energy</string>
			<string>boost</string>
			<string>latitude</string>
			<string>longitude</string>
			<string>game_state</string>
			<string>platform</string>
			<string>rank</string>
		</array>
	</dict>
	<key>getPlayerField</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>username</string>
			<string>password</string>
			<string>unique_id</string>
			<string>first_name</string>
			<string>last_name</string>
			<string>email</string>
			<string>created</string>
			<string>updated</string>
			<string>bonus</string>
			<string>achievements</string>
			<string>best_score</string>
			<string>gold</string>
			<string>money</string>
			<string>kills</string>
			<string>lives</string>
			<string>time_played</string>
			<string>unlocked_levels</string>
			<string>unlocked_items</string>
			<string>inventory</string>
			<string>last_level</string>
			<string>current_level</string>
			<string>current_time</string>
			<string>current_bonus</string>
			<string>current_kills</string>
			<string>current_achievements</string>
			<string>current_gold</string>
			<string>current_unlocked_levels</string>
			<string>current_unlocked_items</string>
			<string>current_lifes</string>
			<string>xp</string>
			<string>energy</string>
			<string>boost</string>
			<string>latitude</string>
			<string>longitude</string>
			<string>game_state</string>
			<string>platform</string>
			<string>rank</string>
			<string>error</string>
		</array>
	</dict>
	<key>getPlayers</key>
	<dict>
		<key>oneItem</key>
		<false/>
		<key>Player</key>
		<array>
			<string>username</string>
			<string>password</string>
			<string>unique_id</string>
			<string>first_name</string>
			<string>last_name</string>
			<string>email</string>
			<string>created</string>
			<string>updated</string>
			<string>bonus</string>
			<string>achievements</string>
			<string>best_score</string>
			<string>gold</string>
			<string>money</string>
			<string>kills</string>
			<string>lives</string>
			<string>time_played</string>
			<string>unlocked_levels</string>
			<string>unlocked_items</string>
			<string>inventory</string>
			<string>last_level</string>
			<string>current_level</string>
			<string>current_time</string>
			<string>current_bonus</string>
			<string>current_kills</string>
			<string>current_achievements</string>
			<string>current_gold</string>
			<string>current_unlocked_levels</string>
			<string>current_unlocked_items</string>
			<string>current_lifes</string>
			<string>xp</string>
			<string>energy</string>
			<string>boost</string>
			<string>latitude</string>
			<string>longitude</string>
			<string>game_state</string>
			<string>platform</string>
			<string>rank</string>
		</array>
	</dict>
	<key>deletePlayer</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>success</string>
			<string>error</string>
		</array>
	</dict>
	<key>editPlayer</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>success</string>
			<string>error</string>
		</array>
	</dict>
	<key>countPlayers</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>players</string>
			<string>error</string>
		</array>
	</dict>
	<key>updatePlayerField</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>success</string>
			<string>error</string>
		</array>
	</dict>
	<key>createPlayer</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>success</string>
			<string>error</string>
		</array>
	</dict>
	<key>countBestScores</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>scores</string>
			<string>error</string>
		</array>
	</dict>
	<key>countScores</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>scores</string>
			<string>error</string>
		</array>
	</dict>
	<key>getAverageScore</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>average_score</string>
			<string>error</string>
		</array>
	</dict>
	<key>getBestScores</key>
	<dict>
		<key>oneItem</key>
		<false/>
		<key>Player</key>
		<array>
			<string>email</string>
			<string>first_name</string>
			<string>last_name</string>
			<string>platform</string>
			<string>username</string>
		</array>
		<key>Score</key>
		<array>
			<string>created</string>
			<string>difficulty</string>
			<string>leaderboard</string>
			<string>platform</string>
			<string>score</string>
		</array>
	</dict>
	<key>createScore</key>
	<dict>
		<key>oneItem</key>
		<true/>
		<key>item</key>
		<array>
			<string>success</string>
			<string>error</string>
		</array>
	</dict>
</dict>
</plist>
